.todo-add-button {
  margin-left: 5px !important;
}
.todo-top-inputs {
  padding-bottom: 20px;
  padding-top: 20px;
}
.todo-container {
  height: 700px;
  overflow: auto;
}

.todo-header {
  padding-top: 25px;
}

.todo-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
